$primary-color: #f30101;
$secondary-color: #f3404b;
$light-primary-color: #fe2929;
$light-secondary-color: #ff9083;
$dark-accent-color: #00364f;

// $gradient-color:#000000 ... #545454 (0%);
$dark-color: #242424;
$dark-secondary-color: #707070;

/*--- */

$default-color: #666666;
$default-secondary-color: #999999;
$info-color: #1c213a;
$success-color: #42a173;
$warning-color: #c0913b;
$danger-color: #f44336;
$white-color: #fff;
$border-color: #adadad;
$border-color-secondary: #9e9c9e;
$border-light-color: #f2f2f2;
$border-light-color-secondary: #dee2e6;
$input-placeholder-color: #adadad;
$sidebar-color: #212529;
$btn-tbl-view: #c0913b;
$btn-tbl-edit: #888;
$btn-tbl-delete: #f96332;

/* text color*/

$text-primary: #1e56b1;
$text-secondary: #ff6250;
$text-light: #f2f3f8;
$text-light-secondary: #f8f8f8;
/* for fill background-color */

$body-color: #fefefe;

$fill-logo-color: rgb(250, 166, 27);
$fill-logo-color-secondary: #1898f3;
$fill-primary: #1e56b1;
$fill-secondary: #ff6250;
$fill-dark: #161e2b;
$fill-light: #f7f7f7;
$fill-teal: #3cd18e;
$fill-light-secondary: #f0f0f0;
$fill-light-blue: #e9f1ee;
$fill-dark-secondary: #0b0e16;

/* color palette */

$fill-light-bg: #fbfbfb;
$fill-light-secondary-bg: #e1e1e1;
$fill-light-blue-bg: #e9f1ee;
$fill-dark: #242424;
$fill-dark-secondary: #707070;

$text-dark: #242424;
$text-dark-secondary: #707070;

$fill-orange: #fe9900;
$fill-orange-secondary: #f9d030;
$text-orange: #fe9900;
$text-orange-secondary: #f9d030;

$fill-blue: #0000fe;
$fill-blue-secondary: #0067b3;
$text-blue: #0000fe;
$text-blue-secondary: #0067b3;

$fill-green: #049901;
$fill-green-secondary: #32cd30;
$text-green: #049901;
$text-green-secondary: #32cd30;

/* color palette */
